<header class="dark-theme">
  <div class="content-header">
    <div class="content-icon">
      <div class="icon-back">
        <img class="icon" src="../../../../assets/back.svg" alt="" />
      </div>
      <div class="seach-notification">
        <img class="icon" src="../../../../assets/search.svg" alt="" />
        <img class="icon" src="../../../../assets/notification.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="profile">
    <img class="img-profile" src="../../../../assets/foto-teste.svg" alt="" />
    <p>Catarina</p>
  </div>
</header>
