<header>
  <div class="content-header">
    <div class="content-icon">
      <div class="icon-back">
        <a href="">
          <img class="icon" src="../../../../assets/back.svg" alt="" />
        </a>
      </div>
      <div class="seach-notification">
        <button>
          <img class="icon" src="../../../../assets/search.svg" alt="" />
        </button>

        <a href="">
          <img class="icon notification" src="../../../../assets/notification.svg" alt="" />
        </a>
      </div>
    </div>
  </div>

  <div class="profile">
    <img class="img-profile" src="../../../../assets/foto-teste.svg" alt="" />
    <p>Catarina</p>
  </div>
</header>
