@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import '../_config-css/rem-calc.scss';
:root {
  // CORES PRIMÁRIAS
  --first-primary-color: #f8f8ff;
  --first-secondary-color: #46467c;
  // CORES SECUNDÁRIAS
  --second-primary-color: #e6e6fa;
  --second-secondary-color: #282878;
  --second-tertiary-color: #da9620;
  --second-quaternary-color: #da9620;
  --font: 'Outfit';
}
