.footer {
  width: 100vw;
  height: 50px;
  background: linear-gradient(180deg, #46467c 0%, #d0d0ff 100%);
  border-top-left-radius: 100% 130%;
  border-top-right-radius: 100% 130%;
  //background-color: red;
}
