<div class="home-personalizada">
  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" />
      <p>Plano de estudos</p>
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>

  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" />
      <p>Atividades a serem feitas</p>
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>

  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" /> Vizualizar próximas atividades
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>

  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" />
      <p>Metas diárias</p>
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>

  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" />
      <p>Gamificação</p>
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>

  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" />
      <p>Perfil profissional</p>
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>

  <a href="">
    <div class="card">
      <img src="../../../assets/cards/card1" alt="" /> Comunidade
      <img src="../../../assets/cards/right" alt="" />
    </div>
  </a>
</div>
