@import '../../_config-css/variables.scss';
a {
  text-decoration: none;
}

.home-personalizada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.card {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  border: none;
  background-color: #e6e6fa;
  text-align: center;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.3);
  color: var(--first-secondary-color);
}

.card:hover {
  padding: 20px;
  transition: ease-in-out 300ms;
}
